.top-navbar {
  background-color: #fdd037;
  padding: 10px;
}

.top-navbar .navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.top-navbar .nav-link {
  color: white;
  margin-right: 10px;
}

.left-navbar {
  background-color: white;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 100px;
  left: 0;
  padding-top: 20px;
  border-right: 1px solid #0295a9;
  box-shadow: 4px 0 4px rgba(2, 149, 169, 0.1);
}

.left-navbar .nav-link {
  color: black;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #fff;
}

.left-navbar .nav-link:last-child {
  border-bottom: none;
}

.dashboard {
  margin-left: 220px;
  margin-top: 70px;
  padding: 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link-container {
  display: flex;
  align-items: center;
}

.brand-container {
  height: 80%;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

.brand-text {
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  background-color: #0295a9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
}

.brand-text-nav {
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  background-color: #0295a9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
  width: 100%;
  text-align: center;
}

.employees-button {
  color: white;
  font-weight: bold;
  padding: 5px;
  background-color: #0295a9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
  border: 1px solid #fdd037;
}

.employees-text {
  font-weight: bold;
  border: none;
  text-align: center;
}

.employees-checkbox {
  color: white;
  font-weight: bold;
  padding: 5px;
  margin-left: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
}

.employees-checkbox:checked {
  background-color: #0295a9;
}

.employees-checkbox:checked:before {
  content: '\2713'; 
  color: #fdd037; 
  font-weight: bold; 
}

.navbar-brand-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 50%;
}

.connected-text {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  background-color: #0295a9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
}

.centered-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #0295a9;
}

.centered-text-blue {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 300px;
  color: #0295a9;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.centered-text {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 300px;
  color: #fdd037;
  background: linear-gradient(to bottom, white 50%, #0295a9 50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.input-container-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.input-container label {
  margin-bottom: 5px;
}

.input-container-name label {
  margin-bottom: 5px;
}

.input-container-name input[type="text"] {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

.input-container input[type="number"] {
  width: 230px;
  padding: 5px;
  font-size: 16px;
  margin-right: 25px;
}

.input-container input[type="text"] {
  width: 230px;
  padding: 5px;
  font-size: 16px;
  margin-right: 25px;
}

.input-row {
  display: flex;
}

.tax-title {
  font-size: 30px;
}

.container {
  display: flex;
}

.selected {
  color: #0295a9 !important;
  font-weight: bold;
}

.left-column {
  flex-basis: 20%;
  margin-right: 10px;
}

.right-column {
  flex-basis: 60%;
}

ul.no-bullet {
  list-style: none;
  padding: 0px;
}

ul.no-bullet li {
  font-size: 20px;
  padding: 5px;
}

table.standard-style {
  border-collapse: collapse;
  font-size: 16px;
  width: 80%;
}

.width-95 {
  width: 95% !important;
}

table.standard-style thead th {
  color: #0295a9;
  background-color: #fdd037;
  border-bottom: 1px solid #0295a9;
  height: 30px;
}

table.standard-style tbody td {
  border-bottom: 1px solid #0295a9;
  padding: 4px;
  text-align: center;
  width: calc(100% / var(--num-columns));
}

table.excel-style {
  border-collapse: collapse;
  font-size: 16px;
  width: 80%;
}

table.excel-style thead th {
  color: black;
  background-color: #e7e7e7;
  border: 1px solid black;
  height: 30px;
}

table.excel-style tbody td {
  border: 1px solid black;
  padding: 2px !important;
  text-align: center;
  padding: 0px;
}

.salary-estimator {
  width: 50%;
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.estimator-text {
  font-size: 18px;
  color: #0295a9;
}

.estimator-value {
  border: 2px solid #0295a9;
  margin-left: 10px;
  padding: 5px;
  font-size: 18px;
}

.hours-worked {
  width: 40%;
  padding-top: 20px;
  padding-bottom: 10px;
}

.date-picker {
  padding-top: 10px;
  padding-bottom: 10px;
}

.checkbox-label {
  margin-left: 8px;
  font-size: 15px;
}

.permissions {
  padding-bottom: 10px;
}

.exit-button {
  color: black;
  font-weight: bold;
  padding: 5px;
  background-color: #e7e7e7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
  border: 1px solid black;
}

.button-toggle {
  padding-bottom: 10px;
}

.health-progress {
  width: 600px;
  height: 30px;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
  border: 1px solid #fdd037;
}

.progress-fill {
  width: 75%;
  height: 100%;
  background-color: #fdd037;
  transition: width 0.5s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
}

.add-button {
  margin-top: 30px;
}

.health {
  padding-left: 200px;
  padding-top: 5px;
  font-weight: bold;
  color: block;
}

.balances {
  padding-top: 20px;
  font-weight: bold;

  justify-content: center;
  align-items: center;
}

.green {
  color: green;
}

.red {
  color: red;
}
