.navbar {
  background-color: #002147;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
}

.justspace {
  margin-right: 50%;
}

.navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.dashboard {
  margin-top: 50px;
}