.top-navbar {
  background-color: #fdd037;
  padding: 10px;
}

.top-navbar .navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.top-navbar .nav-link {
  color: white;
  margin-right: 10px;
}

.left-navbar {
  background-color: white;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 100px;
  left: 0;
  padding-top: 20px;
  border-right: 1px solid #0295a9;
  box-shadow: 4px 0 4px rgba(2, 149, 169, 0.1);
}

.left-navbar .nav-link {
  color: black;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #fff;
}

.left-navbar .nav-link:last-child {
  border-bottom: none;
}

.dashboard {
  margin-left: 220px;
  margin-top: 70px;
  padding: 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link-container {
  display: flex;
  align-items: center;
}

.brand-container {
  height: 80%;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

.brand-text {
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  background-color: #0295a9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
}

.navbar-brand-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 50%;
}

.connected-text {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  background-color: #0295a9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
}

.centered-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-text {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 300px;
}